.chart-container {
    /*width: 100%;  Defina a largura do gráfico para ocupar toda a largura disponível */
    width: 600px; /* Defina a largura do gráfico conforme desejado */
    height: 400px; /* Defina a altura do gráfico conforme desejado */
    border: 1px solid #ddd; /* Adiciona uma borda ao redor do gráfico */
    border-radius: 5px; /* Arredonda as bordas do gráfico */
    padding: 20px; /* Adiciona espaço interno ao redor do gráfico */
    background-color: #f9f9f9; /* Define a cor de fundo do gráfico */
}

.chart-title {
    font-size: 24px; /* Define o tamanho da fonte do título do gráfico */
    font-weight: bold; /* Define a espessura da fonte do título do gráfico */
    color: #333; /* Define a cor do título do gráfico */
}

.chart-legend {
    font-size: 16px; /* Define o tamanho da fonte da legenda do gráfico */
    color: #555; /* Define a cor da legenda do gráfico */
}

.chart-axis-label {
    font-size: 14px; /* Define o tamanho da fonte dos rótulos dos eixos do gráfico */
    color: #777; /* Define a cor dos rótulos dos eixos do gráfico */
}